/* mobile view 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */

html{
    height: 100%;
  }
  
  body{
    background-color: #EDE7F6;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
  }
  
  .miralogo{
    margin-bottom: -55px;
    margin-left: 1em;
    margin-top: 5px;
  }
  
  .navbar{
    background-color: #1A237E;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .firstp{
    text-decoration: none;
    color: white;
    margin-top: 1em;
    margin-right: 1em;
  }
  
  .firsth{
    color: white;
    margin-left: -30px;
    margin-top: 1em;
  }
  
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
  }
  
  .secondp{
    margin-top: -10px;
  }
  
  .secondh{
    color: #1A237E;
    font-size: 25px;
  }
  
  .wrapper{
    display: flex;
    flex-direction: column;
     background-color: white;
     padding: 3em 2em;
     border-radius: 5px;
     box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.089);
  }
  
  #secondi{
    color: white;
    text-decoration: none;
    background-color: #1A237E;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 1em;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .mirailogo_2{
    margin-top: 1em;
  }
  
  input{
    border: none;
    border-bottom: 1px solid black;
  }
  
  .section{
    display: flex;
  }
  
  .thirdp{
    text-decoration: none;
    color: #1A237E;
    margin-top: 1em;
    margin-bottom: 3em;
  }
  
  /* Desktop view */
  
  @media only screen and (min-width: 600px){
    .firsth{
      margin-left: -25em;
    }
    .card{
      margin-top: 35em;
    }
    
    #secondi{
      margin-left: 6em;
      margin-right: 6em;
    }
    
    .wrapper{
      width: 40%;
    }
  }